.wrapper {
  transition: 500ms ease;
}

.mobile-menu__wrapper {
  display: none;
  
  @media (max-width: 576px) {
    display: block;
  }
}


.mobile-menu {
  width: 80%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 999;
  transform: translateX(100%);
  transition: 500ms ease;

  &__header {
    border-bottom: 1px solid #71cdd8;
    padding: 20px;
  }

  &__logo {
    width: 50%;

    img {
      width: 100%;
    }
  }

  &__list {

  }

  &__item {
    padding: 20px;
    cursor: pointer;

    a {
      color: #009abb;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__socials {
    display: flex;
    justify-content: flex-start;
    padding: 0px 20px;
  }

  &__social {
    margin-right: 20px;

    a {
      svg {
        width: 20px;
        height: 20px;
        fill: #009abb;
      }
    }
  }

  &__numbers {
    padding: 20px;

    div {
      color: #000;
    }

    ul {
      li {
        a {
          color: #009abb;
        }
      }
    }
  }

}

.mobile-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 99999;
  cursor: pointer;

  span {
    display: block;
    width: 30px;
    height: 2px;
    border-radius: 3px;
    background-color: #009abb;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -15px;
    transition: 200ms ease;

    &:after, &:before {
      display: block;
      content: '';
      width: 30px;
      height: 2px;
      border-radius: 3px;
      background-color: #009abb;
      position: absolute;
      transition: 200ms ease;
    }

    &:after {
      transform: translateY(6px);
    }

    &:before {
      transform: translateY(-6px);
    }
  }
}


body.mobile-menu__active {
  height: 100vh;
  overflow: hidden;


  .wrapper {
    transform: translate(-70%);
  }

  .mobile-menu {
    transform: translateX(0%);
  }

  .mobile-button {

    span {
      height: 0;

      &:after {
        transform: rotate(40deg);
      }

      &:before {
        transform: rotate(-40deg);
      }

    }
  }
  
}