.section-price {
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  
  @media (max-width: 576px) {
    background-color: red;
  }
}


.price-button {
  text-align: center;
  margin-top: 50px;

  a {

    background-color: #ff9700;
    color: #fff;
    padding: 10px 20px  ;
    border-radius: 4px;
    font-size: 18px;

    &:hover {
      text-decoration: none;
    }
  }
}