/* By Athlon Front-End Team */

/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';


/* Fonts */
@import 'base/fonts';

/* CSS print */
@import 'base/print';


/* Mixins, helpers and functions */
@import 'base/mixins';




/* Components */
@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/utilities";
@import "components/section";

body {
  font-family: 'Gilroy', sans-serif;
  background-color: #e9e9e9;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


/* partials */
@import "partials/mobile-menu";
@import "partials/header";
@import "partials/home";
@import "partials/sticker";
@import "partials/about";
@import "partials/accardion";
@import "partials/services";
@import "partials/price";
@import "partials/doctor";
@import "partials/feedback";
@import "partials/footer";



/* Demo styles */


